#product-main-content {}
.img-bg1 {
	background-image: url("../assets/images/no_results2.png");
	background-size: initial;
	background-repeat: no-repeat;
	height: 600px;
	opacity: 0.8;
	background-color: #000;
}