<md-toolbar class="md-primary" md-scroll-shrink ng-if="true">
	<div class="md-toolbar-tools">
	<md-button ng-click="detail.goBack()" aria-label="Close detail view">
            <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
    </md-button>
		<h3 class="title white-fg" style="cursor:pointer;font-size:20pt !important;color: #fff;" ng-click="appController.home()">Online Store</h3>
		 	<form name="searchForm" class="mainform" layout="row" layout-sm="column"  layout-align="start center" flex>
                 <input type="text" placeholder="Type a brand name or model or mobile" ng-model="vm.searchText" style="width:600px;height:40px;">
                 <md-button class="md-raised md-accent search-btn" aria-label="search" ng-click="vm.searchProd()" 
                 style="height: 40px;margin-bottom: 7px;width: 72px;top: 3px;left: -10px;">
        			 <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
      			  </md-button>
            </form>
            <div layout="row" flex layout-align="end center">
            
             <md-button ng-click="appController.showFaq()" aria-label="Home">
                FAQ
             </md-button>
             <md-button ng-click="appController.trackOrder()" aria-label="Home">
								Track Order
             </md-button>
             <md-button ng-click="detail.viewCart()" aria-label="Home">
                <md-icon md-svg-icon="action:ic_shopping_cart_24px"></md-icon>
                 <span id="badgeMessage" class="badge"  
                 style="border-radius: 50%;height: 16px;width: 16px;background-color: #FFBF00;position: absolute;top: 0px;left: 15px;text-align: center;line-height: 20px;font-size: 10pt; ">{{detail.count}}</span>
             </md-button>
		    </div>
		</div>
</md-toolbar>

<md-content class="md-padding" flex id="product-detail-content">

<!--
<ul>
    <li ng-repeat="prodAttr in detail.product">
        {{prodAttr.attributeName}}: {{prodAttr.attributeValue}}
    </li>
</ul>
-->
    <section class="section" layout="row">

        
        <span layout="row" flex>
           
            <span layout="column" layout-align="start center">
                <img ng-src="{{::detail.product.product.imageUrl}}" height="350" width="350"/>
            </span>
            <span flex="10"></span>
            <span layout="column" flex>
              <span class="section-title" style="font-size:12pt;">Product Information</span><br>
                <span class="product-detail-title" style="font-size:18pt;font-weight:bold;">{{::detail.product.product.productName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="" style="color:#848484;font-size:14pt;">Specifications</span><br>
               <span style="color:#848484;" flex="70">{{::detail.product.product.productFeatures}}</span>
               <br>
               <span layout="row" flex>
                   <span layout="column" flex>
                       <ul>
                            <li ng-repeat="prodAttr in ::detail.product.attributeList">
                                {{prodAttr.attributeName}}: <strong>{{prodAttr.attributeValue}}</strong>
                            </li>
                       </ul>
                   </span>
               </span>
               
               <md-divider></md-divider> <br>
              <span layout="row">
                  <span layout="column" flex>
                     <span style="font-size:12pt;color:#848484;">Terms & Conditions</span>  <br>
                      <span>
                      <ul>
                          <li ng-repeat="terms in detail.product.termsList">
                              {{terms.termName}}: <strong>{{terms.termValue}}</strong>
                          </li>
                      </ul>
                    </span>
                  </span>
               </span>
              <h2>Rs. {{::detail.product.product.productCost}}</h2>
              <span layout="row" class="md-padding">
                    <md-button ng-click="detail.addToCart(count)" aria-label="Close detail view" class="md-raised md-accent">
                            Add to Cart        
                    </md-button>
              </span>
            </span>
        </span>

    </section>

</md-content>

